.sect1 {
	margin-top: 80px;
	color: white;
	font-family: "inria-sans", sans-serif;
}

h4 {
	color: white;
	font-family: "Inria Sans", sans-serif;
}

.contactContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.card {
	background-color: #40444b;
	border-radius: 15px;
	width: 200px;
	height: 120px;
	color: white;
	text-align: center;
	font-family: "Inria Sans", sans-serif;
	text-decoration: none;
}

.card img {
	width: 100px;
}

@media (min-width: 320px) and (max-width: 768px) {
	.sect1 {
		font-size: 13px;
	}

	h4 {
		font-size: 12px;
	}

	.contactContainer {
		gap: 50px;
		margin-bottom: 70px;
	}

	.card {
		background-color: #40444b;
		border-radius: 15px;
		width: 150px;
	}

	.card img {
		width: 100px;
	}
}
