.sect1 {
	display: flex;
	flex-direction: column;
	margin-top: 300px;
	margin-left: 50px;
	color: white;
	font-family: "Inria Sans", sans-serif;
}

.sect1 h1 {
	font-size: 50px;
	color: white;
}

.sect1 h2 {
	font-size: 25px;
	color: #40444b;
}

.sect2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 110px;
}

.card1 {
	margin-top: 100px;
	width: 1250px;
	height: 5px;
	border-radius: 15px;
	background-color: #444d63;
}

.sect3 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sect3 h1 {
	color: white;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-family: "Inria Sans", sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 25px;
}

.card2 {
	display: flex;
	align-items: center;
	background-color: #444d63;
	color: white;
	gap: 10px;
	width: 1000px;
	padding: 10px;
	border-radius: 15px;
	font-family: "Inria Sans", sans-serif;
}

.cardImg {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardImg img {
	border-radius: 15px;
	width: clamp(80px, 15vw, 150px);
	height: auto;
}

.cardText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: clamp(5px, 1.5vw, 15px);
	font-size: clamp(10px, 1.5vw, 16px);
}

@media (min-width: 320px) and (max-width: 1200px) {
	.card2 {
		width: 290px;
	}

	.sect1 {
		margin-top: 220px;
		margin-left: 20px;
	}

	.sect1 h1 {
		font-size: 40px;
	}

	.sect1 h2 {
		font-size: 20px;
	}

	.sect3 h1 {
		font-size: 19px;
	}
}
