.sect1 {
	display: flex;
	flex-direction: column;
	margin-top: 290px;
	margin-left: 100px;
	color: white;
	font-family: "Inria Sans", sans-serif;
}

.sect1 h1 {
	font-size: 50px;
}

.sect1 h2 {
	font-size: 25px;
	color: #40444b;
}

.sect2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 220px;
}

.card1 {
	width: 1250px;
	height: 5px;
	border-radius: 15px;
	background-color: #444d63;
}

.sect3 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sect3 h1 {
	margin-top: 50px;
	font-family: "Inria Sans", sans-serif;
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.card2 {
	width: 900px;
	padding: 15px;
	display: flex;
	align-items: center;
	gap: 20px;
	border-radius: 15px;
	background-color: #444d63;
	color: white;
	font-family: "Inria Sans", sans-serif;
}

.cardImg {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardImg img {
	border-radius: 15px;
}

.cardText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}
