section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  gap: 180px;
  width: 1250px;
  height: 50px;
  background-color: #303335;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  border-color: #444d63;
}

.btnItem {
  background-color: transparent;
  border-color: transparent;
  color: white;
  border-radius: 10px;
  align-content: center;
  padding: 5px;
  font-size: larger;
}

.contact {
  background-color: #5865f2;
  border-radius: 5px;
  border: 2px solid #444d63;
  color: white;
  font-size: larger;
  transition: background-color 0.2s ease;
}

@media (max-width: 320px) {
  nav {
    width: 300px;
    height: 40px;
    gap: 1px;
  }

  .btnItem {
    padding: 1px;
    font-size: smaller;
  }

  .contact {
    font-size: x-small;
  }
}
