button {
  font-size: clamp(0.85rem, 1.3vw, 1.1rem);
  font-family: "Inria Sans", sans-serif;
  color: azure;
  background-color: transparent;
  border: none;
  align-self: center;
  cursor: pointer;
}

button:hover {
  color: #b3c6ff;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: #2b2d31;
  border: 1px solid #4a4c51;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
}

.home1 {
  display: flex;
  padding: 5px 15px;
  color: white;
  font-weight: 500;
}

.contact {
  display: flex;
  padding: 5px 15px;
  background-color: #5865f2;
  border-radius: 5px;
  border: 2px solid #4a4c51;
  color: white;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.contact:hover {
  background-color: #4753d9;
}

@media (max-width: 800px) {
  .btnContainer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 8px;
  }

  button {
    font-size: clamp(0.8rem, 3vw, 1.1rem);
  }

  .contact {
    margin-left: 0;
  }
  .btnContainer {
    flex-direction: column;
    gap: 10px;
    padding: 8px;
  }
}
