.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* vertically center */
  padding: 20px;
  text-align: center;
}

.card {
  background-color: #444d63;
  color: white;
  padding: 40px 60px;
  border-radius: 15px;
}

.card h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.card p {
  font-size: 1.2rem;
}
