h5 {
	color: white;
	text-align: center;
	font-family: "Inria Sans", sans-serif;
}

.skillContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.card {
	background-color: #40444b;
	border-radius: 15px;
	width: 300px;
	height: 350px;
	color: white;
	text-align: center;
	font-family: "Inria Sans", sans-serif;
}

.card img {
	margin-top: 30px;
	justify-content: center;
	width: 200px;
}

.headTxt {
	margin-top: 70px;
	color: white;
	font-family: "Inria Sans", sans-serif;
}

@media (min-width: 320px) and (max-width: 768px) {
	.headTxt {
		margin-top: 100px;
	}

	.card {
		width: 290px;
		height: auto;
	}

	.card img {
		margin-top: 30px;
		justify-content: center;
		width: 200px;
	}

	.headTxt {
		margin-top: 70px;
		color: white;
	}
}
