.aboutHeader {
	text-align: center;
	color: white;
	font-family: "Inria Sans", sans-serif;
	padding-top: 100px;
	font-size: 25px;
}

.cardContainer1 {
	display: flex;
	height: auto;
	width: 1200px;
	text-align: center;
	white-space: pre-line;
	justify-content: center;
	text-justify: auto;
	font-family: "Inria Sans", sans-serif;
	font-size: 20px;
	border-radius: 15px;
	color: white;
	background-color: #444d63;
}
.cardContainer2 {
	display: flex;
	height: auto;
	width: 1200px;
	text-align: center;
	white-space: pre-line;
	justify-content: center;
	text-justify: auto;
	font-family: "Inria Sans", sans-serif;
	font-size: 20px;
	border-radius: 15px;
	color: white;
	background-color: #444d63;
}
@media (min-width: 320px) and (max-width: 768px) {
	.aboutHeader {
		padding-top: 70px;
		font-size: 12px;
	}

	.cardContainer1 {
		width: auto;
		height: auto;
		font-size: 1rem;
	}
	.cardContainer2 {
		width: auto;
		height: auto;
		font-size: 1rem;
	}
}
