.aboutHeader {
	text-align: center;
	color: white;
	font-family: "Inria Sans", sans-serif;
	padding-top: 100px;
	font-size: 25px;
}

.cardContainer1 {
	width: 1300px;
	height: 320px;
	border-radius: 15px;
	background-color: #444d63;
	white-space: pre-line;
	display: flex;
	color: white;
	font-size: 1.5rem;
	justify-content: center;
	font-family: "Inria Sans", sans-serif;
	text-align: center;
}
.cardContainer2 {
	width: 1300px;
	height: 390px;
	border-radius: 15px;
	background-color: #444d63;
	white-space: pre-line;
	display: flex;
	color: white;
	font-size: 1.5rem;
	justify-content: center;
	font-family: "Inria Sans", sans-serif;
	text-align: center;
}

.card1 {
	white-space: pre-line;
	display: flex;
	color: white;
	font-size: 1.5rem;
	justify-content: center;
	font-family: "Inria Sans", sans-serif;
	text-align: center;
}
