.aboutHeader {
  text-align: center;
  color: white;
  font-family: "Inria Sans", sans-serif;
  margin: 40px 0 20px 0;
  padding-top: 100px;
  font-size: 2rem;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (max-width: 320px) {
  .aboutHeader {
    font-size: 1.5rem;
    padding: 70px;
  }

  .cardWrapper {
    padding: 5px;
  }
}
